/pemdas/nbproject/private/
/pemdas/build/
/tugas_pemdas/nbproject/private/
/tugas_pemdas/build/
/bubble/nbproject/private/
/bubble/build/
/oop/nbproject/private/
/oop/build/
/LSP01/nbproject/private/
/LSP01/build/
/LSP02/nbproject/private/
/LSP02/build/
/LSP02/dist/
/Reservarsihotel/build/